<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MedHelp_dotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <MedHelp_dotNet.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>172.16.16.172</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>fg67klbn0</value>
      </setting>
      <setting name="dataBase" serializeAs="String">
        <value>medhelp_omo</value>
      </setting>
    </MedHelp_dotNet.Properties.Settings>
  </userSettings>
</configuration>